/*Bootstrap*/
.login{
    display: flex;
    justify-content: center;
}
.login form{
    width: 25%;
    margin-top: 0%;
}
/*Bootstrap*/
.signup{
    display: flex;
    justify-content: center;
}
.signup form{
    width: 25%;
    margin-top: 2.5%;
}
.login-container{
    width: 280.75px;
    border: 1px solid #7777d1;
    padding: 10px;
}
.signup-container{
    width: 280.75px;
    border: 1px solid red;
    padding: 10px;
}
