/*Bootstrap*/
.login{
    display: flex;
    justify-content: center;
}
.login form{
    width: 25%;
    margin-top: 0%;
}
/*Bootstrap*/
.signup{
    display: flex;
    justify-content: center;
}
.signup form{
    width: 25%;
    margin-top: 0%;
}




